body{
    font-family: 'Hanalei Fill', cursive;
font-family: 'Noto Serif', serif;

}
h1{
    font-size:30px;
}
.makeup
{
    color: orange;


}
.half-width
{
    width:30%;
    float:left;
    margin-left:5%;
    padding-left:3%;




}
.half-width img{
    width:150%;


}